@font-face {
    font-family: digital;
    src: url("Date Stamp Bold.otf") format("opentype");
}

:root {
    --bg-light: #FFEFD3;
    --bg-dark: #252422;
}

body {
    margin: 0;
    overflow: hidden;
    background: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-light);
}

button, a, input {
    user-select: none;
}

.bordered {
    border: 2px solid var(--bg-dark);
}

/* Sam Bender 2024 site link */
#creditsBottom {
    position: absolute;
    bottom: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: var(--bg-dark);
    text-decoration: underline;
    box-sizing: border-box;
    text-transform: uppercase;
}
#creditsBottom a {
    color: inherit;
    cursor: pointer;
    opacity: 50%;
}
#creditsBottom a:hover {
    color: var(--bg-dark);
    opacity: 100%;
}

#githubIcon {
    width: 48px;
    height: 48px;
}

#darkModeToggle {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    height: 48px;
    width: 48px;

    overflow: hidden;
}
#darkModeToggle svg {
    width: 100%;
    height: 100%;

    stroke: var(--bg-dark);
    fill: var(--bg-light);
    transition: fill .1s;
}
#darkModeToggle:hover svg {
    fill: var(--bg-dark);
    transition: fill .1s;
}
#darkModeIcon {
    display: flex;
}
#lightModeIcon {
    display: none;
}
@media all and (orientation: portrait) {
    #homeScreenDate {
        font-size: 3rem;
    }

    #creditsBottom a {
        font-size: 2rem;
    }

    #githubIcon {
        height: 64px;
        width: 64px;
    }

    #darkModeToggle {
        height: 64px;
        width: 64px;
    }

    #darkModeToggle svg {
        fill: var(--bg-dark);
    }

    #modal {
         margin-top: 30vh;
     }
    .modal-content {
        transform: scale(1.5);
    }
}




#mainContainer {
    background-color: var(--bg-light);

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#uploadImageForDispo {
    margin-top: 20px;
}
#uploadImageForDispo label, #uploadImageForDispo label:hover {
    transition: all .1s;
}

.imageInputLabel {
    color: var(--bg-dark);
    font-family: digital, monospace;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 30px;
}
.imageInputLabel:hover {
    background-color: var(--bg-dark);
    color: var(--bg-light);
}

.custom-file-upload {
    user-select: none;
}

.imageInputLabelCropper {
    border: solid 2px var(--bg-light);
    color: var(--bg-light);
    font-family: digital, monospace;
    padding: 5px 20px;
    cursor: pointer;
    background: none;
}

.imageInputLabelCropper:hover {
    background-color: var(--bg-light);
    color: var(--bg-dark);
}

.img-container img {
    max-width: 100%;
}

#loadingAnimationAndStatic {
    width: 100vw;
    text-align: center;
    padding: 20px 0px;
    font-family: digital, monospace;
    font-size: 20px;
    display: none;
    color: var(--bg-dark);
}


#resultImageDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 64px 0;
    user-select: none;
    position: relative;
}

#makeAnotherDispoContainer, #makeAnotherLabel {
    font-size: 20px;
}

@media all and (orientation: portrait){
    #resultImageDisplay {
        width: 95%;
    }

    #downloadButton {
        font-size: 3rem;
    }

    #makeAnotherDispoContainer {
        font-size: 3rem;
        margin-top: 24px;
    }
}

#resultCanvas {
    width: 100%;
}
#resultCanvasBleed {
    top: 0;
    width: 100%;
    mix-blend-mode: screen;  /* if plus-lighter doesn't work, use screen */
}
#resultCanvasSpeckle {
    top: 0;
    width: 100%;
    /* above grain canvas layer */
}
#resultCanvasGrain {
    top: 0;
    width: 100%;
}
#resultCanvasDate {
    top: 0;
    width: 100%;
    mix-blend-mode: screen;  /* if hard-light doesn't work, use screen */
}

.editSecLabel {
    font-weight: bold;
    margin-top: 8px;
    color: var(--bg-dark);
}

#bleedNumber {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 8px;
    color: var(--bg-dark);
    font-weight: bold;
}

.editImgBar {
    width: 100%;
    display: flex;
    justify-content: center;
}
.editImgBar button {
    background-color: var(--bg-light);
    color: var(--bg-dark);
    outline: none;
    border: solid 2px var(--bg-dark);
    margin: 0 2px 4px 2px;
    min-height: 48px;
    padding: 0 12px;
    text-wrap: none;
    white-space: nowrap;
    overflow: hidden;
}
.editImgBar button:hover {
    text-decoration: underline;
}

.editSecHint {
    margin-top: -6px;
    padding-bottom: 0;
}

@media all and (orientation: portrait){
    .editSecLabel {
        font-size: 2rem;
        margin-top: 32px;
    }
    .editImgBar button {
        font-size: 1.5rem;
        min-height: 64px;
    }
    .editSecHint {
        padding-bottom: 8px;
    }
}
.filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.activeFilterBtn {
    background-color: var(--bg-dark) !important;
    color: var(--bg-light) !important;
}

#bleedSlider {
    width: 80%;

    accent-color: #4f4c4c;
    outline: none;
    border: none;
    cursor: pointer;
}